body {
  background-color: cornflowerblue;
}

p{
  background-color: wheat;
  border: 2px solid black;
}

div{
  background-color: goldenrod;
  border: 2px solid black;
}

.pink{
  background-color: lightpink;
  border: 2px solid black;
}

.inline{
  background-color: lightsteelblue;
  display: inline;
  border: 2px solid black;
}

.inlineblock{
  background-color: darkseagreen;
  display: inline-block;
}

.twoemhigh {
  height: 2em;
}

.half {
  width: 50%;
}

#threehundredpxwidth{
  width: 300px;
}

.centered {
  margin-left:25%;
  margin-right:25%;
}

.padded {
  padding: 5px;
}

.margin {
  margin: 5px;
}
